body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    position: fixed;
    justify-content: center;
    padding-left: 700px;
}

#Title,
#LinkFile {
    max-width: 400px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px; 
    background-color: #575757; 
    color: white;
}

.styledButton{
    max-width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #7a5af5;
    color: white;
    padding: 10px; 
}

.styledButton:hover{
    cursor: pointer;
    background-color: #9171f8;
}

.noteOnLeft {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.bappleOnLeft {
    margin-bottom: 0;
    z-index: 2;
}

/* Styling for the delete button */
.deleteButton {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 5px ;
    margin-top: 5px;
    cursor: pointer;
   
    max-height: 25px;
    max-width: 60px;
    z-index: 2;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: #ff4323;
}

#notesOnLeftContainer{
    max-width: 300px;
    max-height: 50px;
    padding:10px 20px 10px 20px ;
    z-index: 2;
   
    
}