body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    transition: background-color 0.4s ease; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

#username,
#password {
    max-width: 400px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px; 
    background-color: #575757; 
    color: white;
}

.submit {
    max-width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #7a5af5;
    color: white;
    padding: 10px; 
}

.submit:hover{
    cursor: pointer;
    background-color: #9171f8;
}
